body {
  background-color: #eaf6f6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.link {
  text-decoration: none;
  color: black;
}

.link a:hover {
  color: green;
}
.link a:visited {
  color: red;
}

h1 {
  color: #6a2c70;
}
h3 {
  color: #f07b3f;
}
